<div ng-init="getallnotes()"  >
 <div layout="row"  layout-wrap layout-fill style="padding-bottom: 32px;padding-left: 310px;">

<md-card  class="dashboard" ng-repeat="x in getnotes | filter:{pin:false,archive:true,trash:false} " style="height: 160px;background-color:{{x.color}};width:30%" ng-mouseover="hoverIn($event)" ng-mouseleave="hoverOut($event)">
        
        <md-button ng-click="ispin(x)"   class="md-icon-button" style="margin: -13px 0px 3px 246px;" ng-show="hoverEdit" >
    <md-icon ><img style="margin:0px 0px -25px 0px;" src="images/pin.svg" /></md-icon>
    <md-tooltip>pin note</md-tooltip>
    </md-button>
            <div  class="value-data" ng-click="showAlert($event,x)">{{x.title}} </div>
           <div  class="value" >{{x.description}}</div>
           
           <div layout="row" ng-show="hoverEdit" style="background-color:white;color: rgba(0,0,0,.54);background-color:{{x.color}};">      
           
                 <md-menu >
                <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                  <img src="images/baseline-touch_app-24px.svg" />
                  <md-tooltip>Remind Me</md-tooltip>
                </md-button>
                <md-menu-content direction="down" layout="column" flex class="md-padding">
                  <p>Reminder: </p>
                  <md-menu-item class="pointer mdmenu" ng-click="LaterToday(x)">Later today
                    <span>8.00 PM</span>
                  </md-menu-item>
                  <md-menu-item ng-click="Tomorrow(x)" class="pointer mdmenu">Tomorrow
                    <span>8.00 AM</span>
                  </md-menu-item>
                  <md-menu-item ng-click="NextWeek(x)" class="pointer mdmenu">Next week
                    <span>Mon, 8.00 AM </span>
                  </md-menu-item>
                  <md-menu-item ng-click="toggle()" class="pointer mdmenu">
                    <md-icon><i class="material-icons">access_time</i></md-icon>Pick Up date & time</md-menu-item>
                </md-menu-content>
                
              </md-menu>

    <md-button class="md-icon-button">
  <img src="images/outline-person_add-24px.svg" />
  <md-tooltip>Collaborator</md-tooltip>
</md-button>

<md-menu class="menu" >
 <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-mouseenter="$mdMenu.open()">
<img src="images/outline-color_lens-24px.svg" />
<md-tooltip>Change color</md-tooltip>
 </md-button>
 <md-menu-content  ng-mouseleave="$mdMenu.close()">
   <md-menu-item ng-repeat="y in colors" >
   <div ng-repeat="item in y" style="padding-right: 4px;">
   <div  ng-style="{'background-color':item.value};" 
   style="height :25px;width :25px;border-radius: 150px;cursor:pointer;" ng-click="changeColor(x,item.value)">
   </div>
  </div>
   </md-menu-item>
   </md-menu-content>
</md-menu>

<md-button class="md-icon-button" >
<img src="images/outline-insert_photo-24px.svg" />
<md-tooltip>Add image</md-tooltip>
</md-button>

<md-button class="md-icon-button"  ng-click="isArchive(x)"  >
<img src="images/baseline-unarchive-24px.svg" />
<md-tooltip>Unarchive</md-tooltip>
</md-button>


<md-menu class="menu" style="display: inline-block">
<md-button class="md-icon-button" ng-click="$mdOpenMenu()" aria-label="Open some menu">
<img src="images/outline-more_vert-24px.svg" />
<md-tooltip>More</md-tooltip>
</md-button>
<md-menu-content>
   <md-menu-item>
   <md-button ng-click="isTrash(x)">Delete note</md-button>
   </md-menu-item>
   
   </md-menu-content>
   
</md-menu>      
  </div>
  
</md-card>
</div>

</div>