
 
 
 
 <div id="myDiv" class="">
	<div style="margin-left: 400px; margin-top: 25px;padding:5%;">
		<md-card class="container" ng-show="!Shownote">
		<div layout="row" style="height: 30px; width: 489px;" >

			<input type="text" class="input" placeholder="Take a note..."
				ng-click="Shownote=true"></input>


		</div>
		</md-card>
	</div>

	<div layout="row" layout-align="center center">
		<md-card class="container" ng-show="Shownote">
		<div layout="row" style="width: 489px;">
			<div class="test" contenteditable="true" ng-model="title" 
				 style="width: 420px;outline: none;" placeholder="Title"/></div>
			<md-button class="md-icon-button" style="margin-top: -9px;"> <md-icon>
			 <img src="images/pin.svg" style="margin-top: 20px;" /></md-icon>
			<md-tooltip>pin note</md-tooltip> </md-button>
		</div>

		<div class="test" contenteditable="true" placeholder="Take a note"  ng-model="description" ng-bind-html="x.description"
			 style="width: 420px;outline: none;"/></div>
		<div>
			<md-button class="md-icon-button"> <md-icon> <img
				style="margin-top: 19px;" src="images/baseline-touch_app-24px.svg" /></md-icon>
			<md-tooltip>Remaind me</md-tooltip> </md-button>

			<md-button class="md-icon-button"> <md-icon> <img
				style="margin-top: 19px;" src="images/outline-person_add-24px.svg" /></md-icon>
			<md-tooltip>Collaborator</md-tooltip> </md-button>

			<md-button class="md-icon-button"> <md-icon> <img
				style="margin-top: 19px;" src="images/outline-color_lens-24px.svg" /></md-icon>
			<md-tooltip>Change color</md-tooltip> </md-button>

			<md-button class="md-icon-button"> <md-icon> <img
				style="margin-top: 19px;" src="images/outline-insert_photo-24px.svg" /></md-icon>
			<md-tooltip>Add image</md-tooltip> </md-button>

			<md-button class="md-icon-button"> <md-icon> <img
				style="margin-top: 19px;" src="images/baseline-archive-24px.svg" /></md-icon>
			<md-tooltip>Archive</md-tooltip> </md-button>

			<md-button class="md-icon-button"> <md-icon> <img
				style="margin-top: 19px;" src="images/outline-more_vert-24px.svg" /></md-icon>
			<md-tooltip>More</md-tooltip> </md-button>
			<md-button style="margin: -55px 0px 3px 401px;"
				ng-click="Shownote=false;createNote();">Close</md-button>
		</div>
		</md-card>
	</div>



	<div ng-init="getallnotes()">
		<md-subheader  style="margin-left: 270px;">Pinned </md-subheader>
		<div layout="row" layout-wrap  layout-align="center center"
			style="padding-bottom: 32px; padding-left: 30px;">
			<md-card class="dashboard" ng-repeat="x in getnotes | filter:{pin:true,trash:false,archive:false}|filter:searchText"
				style="background-color:{{x.color}};width:300px;"
				ng-mouseover="hoverIn($event)" ng-mouseleave="hoverOut($event)" >
			<md-button class="md-icon-button" 
				style="margin: -13px 0px 3px 246px;" 
				ng-click="ispin(x)"> <md-icon> <img
				style="margin: 0px 0px -25px 0px;" src="images/bluepin.svg" /></md-icon> <md-tooltip>Unpinnote</md-tooltip>
			</md-button>
		 <img  ng-src="{{x.imageUrl}}" style="margin-top: -29px;" ng-click="showAlert($event,x)" class="md-card-image"/>
			
			<div class="value-data" ng-click="showAlert($event,x)">{{x.title}}</div>
			<div  class="value" ng-click="showAlert($event,x)">{{x.description}}</div>
<div  layout="row" ng-if="x.remainder" layout-wrap layout-align="start space-around">
                    <md-chips >
                      <md-chip style="margin: 0px auto;padding: 0px"><span style="margin-left: 5px;">{{x.remainder | dateformat}}</span>
                        <md-button  ng-click="remove(x)" class="md-icon-button"  style="margin: 0px auto;padding: 0px;" >
                        <md-icon><i  style="margin-top: 17px;"class="material-icons">close</i></md-icon>
                        </md-button > 
                        </md-chip>
  </md-chips>
  </div>
  <div  layout="row" ng-if="x.labelslist" layout-wrap layout-align="start space-around">             
<md-chips   ng-repeat="label in x.labelslist">
  <md-chip  style="margin:0px auto;padding: 0px;">{{label.labelname}}
  <md-button  class="md-icon-button" ng-click="removelabelonNote(label,x)"  style="margin: 0px auto;padding: 0px;">
  <md-icon><i style="margin-top: 17px;" class="material-icons">close</i></md-icon>
  </md-button>
  </md-chip>
  </md-chips>
    </div>
			<div layout="row"  
				style="background-color: white; color: rgba(0, 0, 0, .54);margin-top: 26px; background-color: {{x.color}}">

				 <md-menu >
                <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                  <img src="images/baseline-touch_app-24px.svg" />
                  <md-tooltip>Remind Me</md-tooltip>
                </md-button>
                <md-menu-content direction="down" layout="column" flex class="md-padding">
                  <p>Reminder: </p>
                  <md-menu-item class=style="outline: none;"pointer mdmenu" ng-click="LaterToday(x)">Later today
                    <span>8.00 PM</span>
                  </md-menu-item>
                  <md-menu-item ng-click="Tomorrow(x)" class="pointer mdmenu">Tomorrow
                    <span>8.00 AM</span>
                  </md-menu-item>
                  <md-menu-item ng-click="NextWeek(x)" class="pointer mdmenu">Next week
                    <span>Mon, 8.00 AM </span>
                  </md-menu-item>
                 <md-menu>
                  <md-button ng-click="$mdMenu.open()" class="pointer mdmenu">
                    <md-icon><i class="material-icons">access_time</i></md-icon>Pick Up date & time</md-menu-item>
                    </md-button>
                    <md-menu-item style="height: 265px;overflow: hidden;width:264px;margin: -102px 0px 6px -22px;">
                    <md-menu-item ng-click="null" class="pointer mdmenu">
                   <md-button ng-click="null" class="pointer mdmenu">                    
                   <img style="margin: 0px 0px -6px -7px;" src="images/baseline-keyboard_backspace-24px.svg"/>
                   <span>Pickup date&time </span>
                   </md-button>
                  <div>
                  <md-datepicker style="margin-right: -267px;background-color:white;" ng-model="x.pickerdate" md-placeholder="Enter date"></md-datepicker>
                   </div> 
                   <md-menu-item>
                            <div layout="row" layout-align="end end">
                              <input type="button"  value="Save"  ng-click="pickdate(x)">
                            </div>
                       </md-menu-item>
                    </md-menu-item>
                    </md-menu-item>
                    </md-menu>
                    
                </md-menu-content>
                 </md-menu>


</md-card>

				<md-button class="md-icon-button"> <img
					src="images/outline-person_add-24px.svg" /> <md-tooltip>Collaborator</md-tooltip>
				</md-button>

				<md-menu class="menu"> <md-button
					aria-label="Open menu with custom trigger" class="md-icon-button"
					ng-mouseenter="$mdMenu.open()"> <img
					src="images/outline-color_lens-24px.svg" /> <md-tooltip>Change
				color</md-tooltip> </md-button> <md-menu-content ng-mouseleave="$mdMenu.close()">
				<md-menu-item ng-repeat="y in colors">
				<div ng-repeat="item in y" style="padding-right: 4px;">
					<div ng-style="{'background-color':item.value};"
						style="height: 25px; width: 25px; border-radius: 150px; cursor: pointer;"
						ng-click="changeColor(x,item.value)"></div>
				</div>
				</md-menu-item> </md-menu-content> </md-menu>

				<md-button class="md-icon-button" >
				  <input type="file"  class="filehiding"  ng-click="addImage($event,x)">
				  <img src="images/outline-insert_photo-24px.svg" /> 
				 <md-tooltip>Addimage</md-tooltip> </md-button>
				 
				<md-button class="md-icon-button" ng-click="isArchive(x)">
				<img src="images/baseline-archive-24px.svg" /> <md-tooltip>Archive</md-tooltip>
				</md-button>


				<md-menu class="menu" style="display: inline-block"> <md-button
					class="md-icon-button" ng-click="$mdOpenMenu()"
					aria-label="Open some menu"> <img
					src="images/outline-more_vert-24px.svg" /> <md-tooltip>More</md-tooltip>
				</md-button> <md-menu-content> <md-menu-item> <md-button
					ng-click="isTrash(x)">Delete note</md-button> </md-menu-item>
					<md-menu-item>
					<md-button ng-click="showAlertlabel($event,x)">Add Label</md-button>
					 </md-menu-item>
					  </md-menu-content> 
					  </md-menu>
			</div>
		
		</md-card>
	</div>
</div>

	<md-subheader style="margin-left: 270px;">Others</md-subheader>
<div>
	<div   layout="row" layout-wrap  layout-align="center center" style="padding-bottom: 32px; padding-left: 30px;" >
		<md-card style="background-color:{{x.color}};width:300px;" class="dashboard" 
			ng-repeat="x in getnotes | filter:{pin:false,trash:false,archive:false}|orderBy : getnotes : true :comparator|filter:searchText" >
        <md-button   ng-click="ispin(x)" class="md-icon-button"
			style="margin: -13px 0px 3px 246px;" >
		<md-icon> <img style="margin: 0px 0px -25px 0px;"
			src="images/pin.svg" /></md-icon> <md-tooltip>pin note</md-tooltip> </md-button>
			 <img  ng-src="{{x.imageUrl}}" style="margin-top: -29px;" ng-click="showAlert($event,x)" class="md-card-image"/>

		<div class="value-data" ng-click="showAlert($event,x)">{{x.title}}</div>
		<div contenteditable="true" ng-bind-html="x.description" class="value" ng-click="showAlert($event,x)">{{x.description}}</div>
	<div>	
 	<div ng-if="x.remainder" layout="row" layout-wrap layout-align="start space-around">
                    <md-chips >
                      <md-chip   style="margin: 0px auto;padding: 0px"><span style="margin-left: 5px;">{{x.remainder | dateformat}}</span>
                        <md-button ng-click="remove(x)"  class="md-icon-button" style="margin: 0px auto;padding: 0px;" >
                        <md-icon><i  style="margin-top: 17px;"class="material-icons">close</i></md-icon>
                        </md-button > 
                        </md-chip>
                        </md-chips>
                 </div>
 <div  layout="row" ng-if="x.labelslist" layout-wrap layout-align="start space-around"> 
<md-chips    ng-repeat="label in x.labelslist"">
  <md-chip  style="margin:0px auto;padding: 0px;">
  
  {{label.labelname}}
  <md-button  class="md-icon-button" ng-click="removelabelonNote(label,x)" style="margin: 0px auto;padding: 0px;">
  <md-icon><i style="margin-top: 17px;" class="material-icons">close</i></md-icon>
  </md-button>
  </md-chip>
  </md-chips>
	</div>
<!-- 	ng-click="alertEvent($event,x);getallUsers();"--->
 	<div layout="row" ng-if="x.listofCollaborator">
	<div ng-repeat="collaborator in x.listofCollaborator" class="div3" ng-click="alertEvent($event,x);getallUsers();">
	<img style="opacity: 1;width: 97%;border-radius: 50%; height: 37px;" src="image/phani2.jpg" />
	<md-tooltip>{{collaborator.email}}</md-tooltip>
	</div>
	</div>
	
	</div>
		<div layout="row" style=" color: rgba(0, 0, 0, .54);background-color:{{x.color}}">

				 <md-menu >
                <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                  <img src="images/baseline-touch_app-24px.svg" />
                  <md-tooltip>Remind Me</md-tooltip>
                </md-button>
                <md-menu-content direction="down" layout="column" flex class="md-padding">
                  <p>Reminder: </p>
                  <md-menu-item class="pointer mdmenu" ng-click="LaterToday(x)">Later today
                    <span>8.00 PM</span>
                  </md-menu-item>
                  <md-menu-item ng-click="Tomorrow(x)" class="pointer mdmenu">Tomorrow
                    <span>8.00 AM</span>
                  </md-menu-item>
                  <md-menu-item ng-click="NextWeek(x)" class="pointer mdmenu">Next week
                    <span>Mon, 8.00 AM </span>
                  </md-menu-item>
                 <md-menu>
                  <md-button ng-click="$mdMenu.open()" class="pointer mdmenu">
                    <md-icon><i class="material-icons">access_time</i></md-icon>Pick Up date & time</md-menu-item>
                    </md-button>
                    <md-menu-item style="height: 265px;overflow: hidden;width:264px;margin: -102px 0px 6px -22px;">
                    <md-menu-item ng-click="null" class="pointer mdmenu">
                   <md-button ng-click="null" class="pointer mdmenu">                    
                   <img style="margin: 0px 0px -6px -7px;" src="images/baseline-keyboard_backspace-24px.svg"/>
                   <span>Pickup date&time </span>
                   </md-button>
                  <div>
                  <md-datepicker style="margin-right: -267px;background-color:white;" ng-model="x.pickerdate" md-placeholder="Enter date"></md-datepicker>
                   </div> 
                   <md-menu-item>
                            <div layout="row" layout-align="end end">
                              <input type="button"  value="Save"  ng-click="pickdate(x)">
                            </div>
                       </md-menu-item>
                    </md-menu-item>
                    </md-menu-item>
                    </md-menu>
                  </md-menu-content>
                
              </md-menu>

	
				<md-button class="md-icon-button" ng-click="alertEvent($event,x);getallUsers();"> <img
					src="images/outline-person_add-24px.svg" /> <md-tooltip>Collaborator</md-tooltip>
				</md-button>

				<md-menu class="menu"> <md-button
					aria-label="Open menu with custom trigger" class="md-icon-button"
					ng-mouseenter="$mdMenu.open()"> <img
					src="images/outline-color_lens-24px.svg" /> <md-tooltip>Change
				color</md-tooltip> </md-button> <md-menu-content ng-mouseleave="$mdMenu.close()">
				<md-menu-item ng-repeat="y in colors">
				<div ng-repeat="item in y" style="padding-right: 4px;">
					<div ng-style="{'background-color':item.value};"
						style="height: 25px; width: 25px; border-radius: 150px; cursor: pointer;"
						ng-click="changeColor(x,item.value)"></div>
				</div>
				</md-menu-item> 
				</md-menu-content> 
				</md-menu>

				<md-button class="md-icon-button" >
				  <input type="file"  class="filehiding"  ng-click="addImage($event,x)">
				  <img src="images/outline-insert_photo-24px.svg" /> 
				 <md-tooltip>Addimage</md-tooltip> </md-button>

				<md-button class="md-icon-button" ng-click="isArchive(x)">
				<img src="images/baseline-archive-24px.svg" /> <md-tooltip>Archive</md-tooltip>
				</md-button>


				<md-menu class="menu" style="display: inline-block"> <md-button
					class="md-icon-button" ng-click="$mdOpenMenu()"
					aria-label="Open some menu"> <img
					src="images/outline-more_vert-24px.svg" /> <md-tooltip>More</md-tooltip>
				</md-button> 
				<md-menu-content> 
				<md-menu-item>
				 <md-button ng-click="isTrash(x)">Delete note</md-button>
					 </md-menu-item> 
					<md-menu-item>
					<md-button ng-click="showAlertlabel($event,x)">Add Label</md-button>
					 </md-menu-item> 
					 </md-menu-content>
					
					  </md-menu>
					</div>
					
						
	
	</md-card>
			
</div>




</div>

 