<div layout="row" layout-align="center center">
  <div md-whiteframe="5"  flex-lg="25" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="row"
    layout-align="center center" style="margin-top:5%;border: 2px solid grey;">
  <form name="userForm" id="login">
       <h2 id="myid"><center>LOGIN FORM</center></h2><br>

        <md-input-container   id="mylogin"  >
 <label>Email Id:</label>
        <input type="text" name="email" ng-model="email" ng-pattern="/^\w[^_]+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/" required>
        <div ng-messages="userForm.email.$error"  >
        <div ng-message="required">emailid required </div>
      </div>

      </md-input-container>

      <br>


      <md-input-container   id="mylogin" >
<label>Password:</label>
            <input type="password" name='password' ng-model="password" required>
            <div ng-messages="userForm.password.$error">
       <div ng-message="required">password required</div>
      </div>
         </md-input-container>
<br>
         <md-input-container   id="mylogin"  >
      <input aria-label="login" type="submit" value="LOGIN" id="btncolor" ng-disabled="userForm.$invalid"  ng-click="login()" >
   <p><a href="#!/register"> Register</a></p>

    <a href="#!/forgetpassword">Forgotpassword</a>
     </md-input-container>

        </form>
    </div>

</div>
