.container{
  margin: 25px -218px 0px 0px;
    padding: 6px 118px 3px 6px;
    width: 500px;
}
.logout{
	margin: 207px -465px 0px 0px;
    width: 433px;
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
}
.table{
	background: #f5f5f5;
    border-top: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    display: table;
}
.color{
    width: 100%;
    
    padding-right: 6px;
}
.input{
  margin: 0px 0px 0px 0px;
  background-color: white;
}
.menu{
	user-select: none;
    opacity: 1;
    left: 608.5px;
    top: 178px;
}
.value-data{
	
    font-size: x-large;
    font-family: -webkit-pictograph;
}

.md-button.md-icon-button{
margin: 0 6px;
    height: 40px;
    min-width: 0;
    line-height: 24px;
    padding: 8px;
    width: 40px;
    border-radius: 50%;
    margin-top: 31px;
    
    
    
}
.md-button.md-icon-button md-icon{
	
	display: block;
}
.grid{
	width: 50%; 
}
.test[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555; 
}

.test[placeholder]:empty:focus::before {
    content: "";
}
.collaborator{
	font-size: 18px;
    font-weight: 500;
    height: 40px;
    padding: 0 0 10px 0;margin-top: 15px;
}
.colla{
	box-sizing: border-box;left: 0;
	max-height: 400px;
	min-height: 150px; 
	overflow-y: auto;
}
.mycollaborator{
	border-radius: 50%;
	margin: 14px 0px 0px 27px;
	height: 40px;
	width: 40px;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.5);"> 

}
.anotherdiv{
	align-items: center;
	display: flex;
	padding: 5px;
	margin: 0px 0px 0px -220px;" 
	
}
.div3{
	border-radius: 50%;
	margin: 14px 0px 0px 27px;
	height: 40px;
	width: 40px;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.5); 
}
.button{
	background-size: 18px 18px;
	border: 1px solid transparent;
	height: 24px; 
	opacity: .54;
	width: 24px;
	margin-top:18px;
}
.div4{
	position: relative;
	align-items: center;
	display: flex;
	padding: 5px;
	margin: -10px 0px 0px 29px;
}
.div5{
	border-radius: 50%;
	height: 40px;
	width: 40px;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.5);
}
.mybutton{
	background-size: 18px 18px;
	border: 1px solid transparent;
	height: 24px; 
	opacity: .54;
	width: 24px;
	margin-top:18px;
}
.boximage{
	    border-radius: 50%;
    height: 85px;
    margin-top: 42px;
    width: 100%;
    margin-left: 32px;
}
.filehiding{
	 position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%
}
.profile{
	position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    padding: 17px 20px;
    top: 0;
}
.sccount{
	color: #36c;
    text-decoration: none;
}